<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yang-fan.alfred.workflows.xielu</string>
	<key>connections</key>
	<dict>
		<key>8324DF30-61D5-4E43-B6A9-9A481B892383</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C86CF91-49CA-464B-8609-40BACF4230EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EA189804-6607-45DD-B355-B54C96C3CC84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C86CF91-49CA-464B-8609-40BACF4230EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>woooha</string>
	<key>description</key>
	<string>既不走封闭僵化的老路、也不走改旗易帜的邪路</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Xielu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>xl</string>
				<key>script</key>
				<string>require_once('xielu_suggestions.php');
$query = '{query}';
$suggestions = fetch_suggestions_for_query($query);
echo wrap_suggestions_to_xml( $suggestions, $query );</string>
				<key>subtext</key>
				<string>正在为您推荐与关搜索词</string>
				<key>title</key>
				<string>正在为您推荐与相关搜索词...</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA189804-6607-45DD-B355-B54C96C3CC84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8324DF30-61D5-4E43-B6A9-9A481B892383</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://xie.lu/#q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4C86CF91-49CA-464B-8609-40BACF4230EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4C86CF91-49CA-464B-8609-40BACF4230EA</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8324DF30-61D5-4E43-B6A9-9A481B892383</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>EA189804-6607-45DD-B355-B54C96C3CC84</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/woooha/xielu_workflow</string>
</dict>
</plist>
